    
    <br>
    <div class="row show-grid justify-content-center mt-10">
      <div class="col-10">
        
          
          <input type="text" class="form-control" name="nodo" id="nodo" placeholder="Nodos" [(ngModel)]="nodoTypeahead"
          [ngbTypeahead]="searchNodo" #inputNodo [class.is-invalid]="searchFailed" [inputFormatter]="formatterNodo"
          [resultFormatter]="formatterNodo" [editable]="false" container="body" (selectItem)="selectNodo($event); inputNodo.value=''" />

        
      </div>
    </div>
    <div class="row justify-content-center" >
      <div class="col-10">
       
          <tag-input theme='minimal' class="col-10 p-0" [(ngModel)]="nodos" [identifyBy]="'id'" [displayBy]="'nombre'"
            [placeholder]="''" [secondaryPlaceholder]="''" [hideForm]="true" ></tag-input>
       
      </div>
    </div>
    <div class="row show-grid justify-content-center mb-2">
      <div class="col-10">
        <button type="button" class="btn btn-primary btn-rectangle btn-block" (click)="search()">Search</button>
      </div>
    </div>
      <div class="row show-grid justify-content-center">
        <div class="col-10">
        <div class="card" *ngFor="let camino of caminos" >
          <div class="card-body">
            <h5 class="card-title">{{camino.nombre}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{camino.ruta}}</h6>
            <a href="{{apiUrlBase}}/grafoCamino?idCamino={{camino.id}}" target="_blank"> Ver camino</a>

          </div>
        </div>
      </div>
    </div>